.button-state {
    padding: 10px 15px;
    background-color: white;
    cursor: pointer;
    color: #212121;
    border-radius: 4px;
}

.image {
    width: 30px;
    margin-right: 10px;
}

.card {
    display: flex;
    align-items: center;
}

